In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("../data/data.csv")
df.head(5)

,Country ISO3,Country Name,Indicator Id,Indicator,Subindicator Type,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,AFG,Afghanistan,27959,Overall Global Gender Gap Index,Index,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.444
1,AFG,Afghanistan,27960,Global Gender Gap Political Empowerment subindex,Rank,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,111.000
2,AFG,Afghanistan,27961,Global Gender Gap Political Empowerment subindex,Index,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.132
3,AFG,Afghanistan,27962,Overall Global Gender Gap Index,Rank,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,156.000
4,AFG,Afghanistan,28158,Global Gender Gap Economic Participation and O...,Rank,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,156.000

In [42]:
uniq = df['Indicator'].unique()
uniq[:5]

array(['Overall Global Gender Gap Index',
       'Global Gender Gap Political Empowerment subindex',
       'Global Gender Gap Economic Participation and Opportunity Subindex',
       'Global Gender Gap Educational Attainment Subindex',
       'Global Gender Gap Health and Survival Subindex'], dtype=object)

In [43]:
df.head(5)

,Country ISO3,Country Name,Indicator Id,Indicator,Subindicator Type,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,AFG,Afghanistan,27959,Overall Global Gender Gap Index,Index,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.444
1,AFG,Afghanistan,27960,Global Gender Gap Political Empowerment subindex,Rank,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,111.000
2,AFG,Afghanistan,27961,Global Gender Gap Political Empowerment subindex,Index,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.132
3,AFG,Afghanistan,27962,Overall Global Gender Gap Index,Rank,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,156.000
4,AFG,Afghanistan,28158,Global Gender Gap Economic Participation and O...,Rank,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,156.000

In [44]:
# drop row with NaN
i=2006
while i<=2020:
    df.dropna(subset = [str(i)], inplace=True)
    i+=1

In [45]:
df.head(5)

,Country ISO3,Country Name,Indicator Id,Indicator,Subindicator Type,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
48,ALB,Albania,27959,Overall Global Gender Gap Index,Index,0.6607,0.6685,0.6591,0.6601,0.6726,0.6748,0.6655,0.6412,0.6869,0.701,0.704,0.728,0.734,0.769,0.770
49,ALB,Albania,27960,Global Gender Gap Political Empowerment subindex,Rank,105.0000,117.0000,119.0000,125.0000,97.0000,99.0000,105.0000,130.0000,55.0000,50.000,53.000,31.000,34.000,23.000,30.000
50,ALB,Albania,27961,Global Gender Gap Political Empowerment subindex,Index,0.0375,0.0375,0.0413,0.0413,0.0785,0.0784,0.0753,0.0256,0.1834,0.214,0.214,0.284,0.284,0.376,0.377
51,ALB,Albania,27962,Overall Global Gender Gap Index,Rank,61.0000,66.0000,87.0000,91.0000,78.0000,78.0000,91.0000,108.0000,83.0000,70.000,62.000,38.000,34.000,20.000,25.000
52,ALB,Albania,28158,Global Gender Gap Economic Participation and O...,Rank,38.0000,36.0000,62.0000,63.0000,51.0000,38.0000,63.0000,87.0000,78.0000,69.000,73.000,70.000,54.000,36.000,35.000

In [46]:
df = df[df["Subindicator Type"] != "Rank"]
df.head(5)

,Country ISO3,Country Name,Indicator Id,Indicator,Subindicator Type,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
48,ALB,Albania,27959,Overall Global Gender Gap Index,Index,0.6607,0.6685,0.6591,0.6601,0.6726,0.6748,0.6655,0.6412,0.6869,0.701,0.704,0.728,0.734,0.769,0.770
50,ALB,Albania,27961,Global Gender Gap Political Empowerment subindex,Index,0.0375,0.0375,0.0413,0.0413,0.0785,0.0784,0.0753,0.0256,0.1834,0.214,0.214,0.284,0.284,0.376,0.377
53,ALB,Albania,28159,Global Gender Gap Economic Participation and O...,Index,0.6613,0.6885,0.6491,0.6532,0.6808,0.7129,0.6663,0.6324,0.6534,0.671,0.668,0.673,0.701,0.743,0.748
55,ALB,Albania,28161,Global Gender Gap Educational Attainment Subindex,Index,0.9888,0.9925,0.9907,0.9906,0.9942,0.9809,0.9890,0.9755,0.9700,0.972,0.986,0.986,0.987,0.999,0.999
57,ALB,Albania,28163,Global Gender Gap Health and Survival Subindex,Index,0.9553,0.9553,0.9553,0.9553,0.9370,0.9268,0.9313,0.9313,0.9409,0.947,0.947,0.968,0.963,0.958,0.980

In [47]:
grouped_df = df.groupby("Indicator")
grouped_df = grouped_df.agg({"Country Name": "nunique"})
grouped_df = grouped_df.reset_index()
grouped_df = grouped_df.sort_values('Country Name')
grouped_df

                                           Indicator  Country Name
0  Global Gender Gap Economic Participation and O...           103
1  Global Gender Gap Educational Attainment Subindex           103
2     Global Gender Gap Health and Survival Subindex           103
3   Global Gender Gap Political Empowerment subindex           103
4                    Overall Global Gender Gap Index           103

In [48]:
grouped_df.to_csv (r'indicator_count.csv', index = False, header=True)